@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: hsl(0, 100%, 74%);
    --green: hsl(154, 59%, 51%);
    --blue: hsl(248, 32%, 49%);
    --dark-blue: hsl(249, 10%, 26%);
    --grayish-blue: hsl(246, 25%, 77%);

    --main-font: "Poppins";
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    outline: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--main-font);
    background-image: url("images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--red);
}

/* ! Common */

.text-400 {
    font-weight: 400;
}

.text-500 {
    font-weight: 500;
}

.text-600 {
    font-weight: 600;
}

.text-700 {
    font-weight: 700;
}

.shadow {
    filter: drop-shadow(0 .6rem 0 rgba(0,0,0,0.2));
}

.shadow-green {
    filter: drop-shadow(0 .4rem 0 rgba(9, 114, 27, 0.623));
}

.rounded {
    border-radius: 1rem;
}

.rounded-half {
    border-radius: .5rem;
}

/* ! Layout */

.page-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    padding: 6rem 2rem;
    width: min(100%, 53.9rem);
    gap: 6rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
}



.headline-section {
    color: white;
    text-align: center;
}

.headings {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.headings h1 {
    font-size: clamp(2.6rem, 1.311vw + 2.108rem, 3rem);
}

.headings p {
    font-size: 1.4rem;
    line-height: 175%;
}

.form-banner {
    background-color: var(--blue);
    color: white;
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-size: 1.5rem;
}

.form-container {
    width: 100%;
    background-color: white;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.form {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 100%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.text-input {
    border: 1px solid hsla(246, 25%, 77%, 0.5);
    border-width: thin;
    min-height: 4.4rem;
    padding: 1.2rem;
    font-weight: 800;
    outline: none;
    flex-grow: 1;
}

.btn {
    background-color: var(--green);
    border: none;
    color: white;
    min-height: 5.6rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: .1rem;

}

.terms {
    text-align: center;
    color: var(--grayish-blue);
    line-height: 200%;
    font-size: 1.2rem;
}

.terms span {
    color: var(--red);
}

/* ! Error JS */

.hide {
    opacity: 0;
    display: none;
}

.input-error {
    border: 2px solid red;
}

.icon-error {
    height: 2rem;
    width: 2rem;
    right: 2rem;
    position: absolute;
}

.msg-error {
    align-self: flex-end;
    font-style: italic;
    margin-top: -1rem;
    color: red;
    font-weight: 300;
}

/* ! Reponsiveness */
@media (min-width: 1080px) {

    body {
        background-image: url("images/bg-intro-desktop.png");
    }

    .page-container {
        align-items: center;

    }

    .content-container {
        grid-template-columns: min(35vw, 52.5rem) min(35vw, 54rem);
        grid-template-rows: 1fr;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .headings {
        text-align: left;
    }

    .headings h1 {
        font-size: clamp(4rem, 1.852vw + 2rem, 6rem);
    }

    .headings p {
        font-size: 1.6rem;
    }

    .text-input {
        padding: 1.2rem 2.4rem;
    }

    .icon-error {
        height: 2.4rem;
        width: 2.4rem;
    }
}